# Assignment Statement

A variable is a name that refers to a value. An assignment statement creates a new variable and gives it a value. Variable names can contain all Unicode characters but they cannot begin with a number.

In [21]:
message = "And now for something completely different"

"And now for something completely different"

In [22]:
n = 17

17

In [23]:
π_val = 3.141592653589793

3.141592653589793

In [24]:
x = 2
println(x)
println(1)

2
1

In [31]:
2
x=5
x+2

7

# Operator Precedence

Julia uses PEMDAS (Parentheses, Exponentiation, Multiplication, Division, Addition, and Subtraction) for computation.

In [32]:
2*(3-1)

4

In [33]:
(1+1)^(5-2)

8

In [35]:
1 + 2 ^ 3

9

In [36]:
2*3^2

18

In [37]:
2*3-1

5

In [38]:
6+4/2

8.0

# String Operations

You cannot use mathematical operations on strings.

In [41]:
first_str = "First"
second_str = "Second"

first_str * second_str    #String concatenation

"FirstSecond"

In [43]:
first_str^3    #Repeats the string 3 times

"FirstFirstFirst"

# Debugging

3 kinds of errors: Syntax error, runtime error, and semantic error.

**Syntax error**: This error refers to a violation of the rules of structure in Julia. Julia will not run the code during syntax errors.


**Runtime error**: The program runs successfully but the error appears after the program runs. These errors or exceptions indicate that something exceptional and bad happened.


**Semantic error**: The program runs successfully without an error message appearing. The output is wrong compared to the desired output.

# Problems

1. We’ve seen that n = 42 is legal. What about 42 = n?

In [45]:
42 = n

ErrorException: syntax: invalid assignment location "42"

2. How about x = y = 1?

In [46]:
x = y = 1

1

3. In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Julia statement?

In [49]:
x = 1;
y=3; # It runs

4. What if you put a period at the end of a statement?

In [50]:
x = 1.

1.0

5. In math notation you can multiply x and y like this: x y. What happens if you try that in Julia? What about 5x?

In [53]:
x = 5

5

In [54]:
5x

25

6. The volume of a sphere with radius $r$ is $\frac43 \pi r^3$. What is the volume of a sphere with radius 5?

In [56]:
r = 5

5

In [57]:
V = 4 / 3 * π * 5
V

20.94395102393195

7. Suppose the cover price of a book is $\$$ 24.95, but bookstores get a 40\% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [59]:
cover_price = 24.95
discounted_price = 24.95 * .4

9.98

In [60]:
(discounted_price + 3) + (59 * (discounted_price + 75))

5026.8