# Tuples

A tuple is a sequence of values. The values can be of any type, and they are indexed by integers (just like arrays). Tuples are immutable and each element can have its own type.

$$(a, b)$$

In [1]:
t = 'a', 'b', 1, 2 # initializing a tuple

('a', 'b', 1, 2)

In [2]:
t0 = ('a', 'b', 1, 2) # alternative initialization of a tuple

('a', 'b', 1, 2)

### Traversing a tuple

In [3]:
# a tuple really is just like an array
for i in t
    println(i)
end

a
b
1
2

### Slicing a tuple

In [4]:
t[2:3]

('b', 1)

### Making other tuples

In [5]:
t1 = ('a',)

('a',)

In [6]:
t2 = ('a') # This is not a tuple because there are no commas

'a': ASCII/Unicode U+0061 (category Ll: Letter, lowercase)

In [7]:
typeof(t2)

Char

### Tuples are immutable

In [8]:
t1[1] = "b"

MethodError: MethodError: no method matching setindex!(::Tuple{Char}, ::String, ::Int64)

# Tuple assignment

In [9]:
a = (1,2)
b = (4,3)

(4, 3)

In [10]:
temp = a 
a = b 
b = temp

(1, 2)

In [11]:
a == b

false

In [12]:
temp == b

true

In [13]:
# We're not using temporary variables

a, b = b, a # The numbers on the left has to be fewer than the ones on the right

((1, 2), (4, 3))

In [14]:
a

(1, 2)

In [15]:
b

(4, 3)

In [16]:
x, y = 1,2,3,4,5,6

(1, 2, 3, 4, 5, 6)

### split()

In [17]:
addr = "julius.caesar@rome"
uname, domain = split(addr, "@") # what is returned are two values

2-element Array{SubString{String},1}:
 "julius.caesar"
 "rome"

# Tuples as return values

### Computing division and getting the remainder at the same time

In [18]:
q,r = divrem(7,3)

(2, 1)

### Function that returns a tuple

In [19]:
function minmax(t)
    minimum(t), maximum(t)
end

minmax (generic function with 1 method)

In [20]:
t = [1,2,3,4,5,6,7,8,9,10]

min_, max_ = minmax(t)

(1, 10)

# Variable-length argument tuples

In [21]:
function printall(args...)
    println(args)
end

printall (generic function with 1 method)

In [22]:
printall(1,2)

(1, 2)

In [23]:
printall(1,2,3,4,5,6,7,8) # We can feed the function any number of arguments

(1, 2, 3, 4, 5, 6, 7, 8)

In [24]:
t = 7,3

(7, 3)

In [25]:
divrem(t) # This is not allowed

MethodError: MethodError: no method matching divrem(::Tuple{Int64,Int64})
Closest candidates are:
  divrem(::T, !Matched::Base.MultiplicativeInverses.MultiplicativeInverse{T}) where T at multinverses.jl:152
  divrem(::Any, !Matched::Any) at number.jl:105
  divrem(!Matched::BigInt, !Matched::BigInt) at gmp.jl:479

In [26]:
divrem(t...) # the ... is the scatter operator

(2, 1)

In [27]:
t = rand(0:10, 10)

10-element Array{Int64,1}:
 8
 9
 8
 4
 9
 0
 3
 8
 5
 4

In [28]:
max(1,2,3,4,5) # max function returns the largest number in its arguments

5

In [29]:
maximum(t) # maximum function returns the largest number of an array

9

In [30]:
max(t...) # We can also use the scatter operator on a list

9

In [32]:
# Works the same way with min() and minimum() too

min(1,2,3)

1

In [33]:
minimum(t)

0

In [37]:
min(t...)

0

1. Write a function called sumall that takes any number of arguments and returns their sum.

In the Julia world, gather is often called “slurp” and scatter “splat”

In [60]:
function sumall(args...)
    sum_ = 0
    for i in args
        sum_ += i
    end
    return sum_
end

sumall (generic function with 2 methods)

In [61]:
sumall(1,2,3,4,5)

15

# Arrays and Tuples

### zip()

Takes two or more sequences and returns a collection of tuples where each tuple contains one element from each sequence.

In [64]:
s = "abc"
t = [1,2,3]

for (char, num) in zip(s,t)
   println(char, " ", num)  # prints both elements
end

a 1
b 2
c 3

In [65]:
for pair in zip(s,t)
    println(pair) # prints a tuple
end

('a', 1)
('b', 2)
('c', 3)

### To get the zipped values in an array we use the collect() function

If the sequences are not the same length, the result has the length of the shorter one.

In [68]:
x = collect(zip(s,t))

3-element Array{Tuple{Char,Int64},1}:
 ('a', 1)
 ('b', 2)
 ('c', 3)

In [94]:
collect(zip("Anne", "Elk"))

3-element Array{Tuple{Char,Char},1}:
 ('A', 'E')
 ('n', 'l')
 ('n', 'k')

### Traversing an array of tuples

In [70]:
t = [('a', 1), ('b', 2), ('c', 3)]

3-element Array{Tuple{Char,Int64},1}:
 ('a', 1)
 ('b', 2)
 ('c', 3)

In [71]:
for (letter, number) in t
   println(letter, " ", number) 
end

a 1
b 2
c 3

In [75]:
function hasmatch(t1, t2) 
    """This function takes in 2 iterators. Returns true if two elements with the same index in t1 and t2 are equal."""
    
    for (x, y) in zip(t1, t2)
        if x == y
            return true
        end
    end
    false
end

hasmatch (generic function with 1 method)

In [78]:
t1 = [1,2,3]
t2 = [3,4,5]

3-element Array{Int64,1}:
 3
 4
 5

In [79]:
hasmatch(t1, t2)

false

# enumerate()

Traversing the elements of a sequence and their indices.

In [80]:
t = ['a','b','c','d']

4-element Array{Char,1}:
 'a'
 'b'
 'c'
 'd'

In [82]:
for (i, letter) in enumerate(t)
    println(i, " ", letter)
end

1 a
2 b
3 c
4 d

# Dictionaries and tuples

In [83]:
d = Dict('a' => 1, 'b' => 2, 'c' => 3)

Dict{Char,Int64} with 3 entries:
  'a' => 1
  'c' => 3
  'b' => 2

In [86]:
for (key, value) in d
    println(key, " ", value) # values are not in order
end

a 1
c 3
b 2

### Initializing a dictionary from an array of tuples

In [93]:
t = [('a', 1), ('b', 2), ('c', 3)]
d = Dict(t)

Dict{Char,Int64} with 3 entries:
  'a' => 1
  'c' => 3
  'b' => 2

In [95]:
d = Dict(zip("abc", 1:3))

Dict{Char,Int64} with 3 entries:
  'a' => 1
  'c' => 3
  'b' => 2

# Using tuples as keys

In [100]:
directory = Dict()

Dict{Any,Any} with 0 entries

In [101]:
directory["Balagon", "Val Anthony"] = 12
directory["Estola", "Mary Pauline Angeli"] = 5

5

In [103]:
for ((last, first), number) in directory
    println(first, " ", last, " ", number) 
end

Val Anthony Balagon 12
Mary Pauline Angeli Estola 5

# Sequences on Sequences

We can use any sequences. Since tuple are immutable, we cannot use sort!() and reverse!() to modify them.